@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>
    Administrar Locales
</h2>
@Html.ActionLink("Registrar", "RegistrarLocal")

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Ciudad</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Responsable</th>
        </tr>

    </thead>
    <tbody>
        @foreach (Local local in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => local.IdLocal)</td>
                <td>@Html.DisplayFor(modelItem => local.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => local.Ciudad)</td>
                <td>@Html.DisplayFor(modelItem => local.Direccion)</td>
                <td>@Html.DisplayFor(modelItem => local.Telefono)</td>
                <td>@Html.DisplayFor(modelItem => local.Responsable.Nombre) </td>
                <td>
                    @Html.ActionLink("Editar", "EditarLocal", new { idLocal = local.IdLocal })
                    @Html.ActionLink("Eliminar", "EliminarLocal", new { idLocal = local.IdLocal })
                </td>
            </tr>
        }

    </tbody>
</table>