@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2 class="mainTitulo">Administrar Locales</h2>
<div class="mainContenido">

    @Html.ActionLink("Registrar", "RegistrarLocal", null, null, new { @class="link h3" })

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Ciudad</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Responsable</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Local local in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => local.IdLocal)</td>
                <td>@Html.DisplayFor(modelItem => local.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => local.Ciudad)</td>
                <td>@Html.DisplayFor(modelItem => local.Direccion)</td>
                <td>@Html.DisplayFor(modelItem => local.Telefono)</td>
                <td>@Html.DisplayFor(modelItem => local.Responsable.Nombre)</td>
                <td>
                    @Html.ActionLink("Editar", "EditarLocal", new { idLocal = local.IdLocal }, new { @class = "link" })
                    @Html.ActionLink("Eliminar", "EliminarLocal", new { idLocal = local.IdLocal }, new { @class = "link" })
                    @Html.ActionLink("Ver tipos maquinas", "TiposDeMaquinasLocal", new { idLocal = local.IdLocal }, new { @class = "link" })

                </td>
            </tr>
        }
    </tbody>
</table>
</div>
