@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model gestorDeGimnasios.Models.Rutina

<h2 class="mainTitulo">Modificar Rutina</h2>
<div class="mainContenido">
    <form asp-action="AccionEditarRutina" method="post" class="formulario">


        @Html.LabelFor(model => model.IdRutina, htmlAttributes: new { @class = "label" })
        @Html.TextBoxFor(model => model.IdRutina, new { @class = "input", type = "number", @readonly = "readonly" })
        <div></div>


        @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "label" })
        @Html.TextBoxFor(model => model.Descripcion, new { @class = "input", type = "text", required = "required" })
        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "textoAdvertencia" })


        @Html.LabelFor(model => model.TipoRutina, htmlAttributes: new { @class = "label" })
        <select asp-for="TipoRutina" class="input" required="required">
            <option value="" disabled selected>Seleccione una opción</option>
            <option value="competicion amateur">Competencia amateur</option>
            <option value="competicion profesional">Competencia profesional</option>
            <option value="salud">Salud</option>
        </select>
        @Html.ValidationMessageFor(model => model.TipoRutina, "", new { @class = "textoAdvertencia" })


        <input type="submit" value="Guardar cambios" class="boton" />
    </form>
</div>