@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>
    Administrar Rutinas
</h2>
@Html.ActionLink("Registrar", "RegistrarRutina")

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Descripción</th>
            <th>Tipo</th>
            <th>Calificación promedio</th>
        </tr>

    </thead>
     <tbody>
        @foreach (Rutina rutina in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => rutina.IdRutina)</td>
                <td>@Html.DisplayFor(modelItem => rutina.Descripcion)</td>
                <td>@Html.DisplayFor(modelItem => rutina.TipoRutina)</td>
                <td>@Html.DisplayFor(modelItem => rutina.CalificacionRutinaPromedio)</td>
                <td>
                    @Html.ActionLink("Editar", "EditarRutina", new { idRutina = rutina.IdRutina })
                    @Html.ActionLink("Eliminar", "EliminarRutina", new { idRutina = rutina.IdRutina })
                </td>
            </tr>
        }
    </tbody>

</table>