@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model gestorDeGimnasios.Models.Responsable

<h2 class="mainTitulo">Registrando Responsable</h2>
<div class="mainContenido">
    <form asp-action="AccionRegistrarResponsable" method="post" class="formulario">

        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "label" })
        @Html.TextBoxFor(model => model.Nombre, new { @class = "input", type = "text", placeholder = "Ingrese el nombre", required = "required" })
        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "textoAdvertencia" })

        @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "label" })
        @Html.TextBoxFor(model => model.Telefono, new { @class = "input", type = "text", placeholder = "Ingrese el teléfono", required = "required" })
        @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "textoAdvertencia" })

        @Html.LabelFor(model => model.NombreUsuario, new { @class = "label" })
        @Html.TextBoxFor(model => model.NombreUsuario, new { @class = "input", @required = "required", placeholder = "Ingrese nombre de usuario" })
        @Html.ValidationMessageFor(model => model.NombreUsuario, "", new { @class = "textoAdvertencia" })

        <label class="label">Contraseña</label>
        @Html.PasswordFor(model => model.Contrasenia, new { @class = "input", @required = "required", placeholder="Ingrese una contraseña"})
        @Html.ValidationMessageFor(model => model.Contrasenia, "", new { @class = "textoAdvertencia" })

        <input type="submit" value="Guardar registro" class="boton" />
    </form>
    <div asp-validation-summary="All" class="textoAdvertencia"></div>

</div>