@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model gestorDeGimnasios.Models.Ejercicio

<h2 class="mainTitulo">Modificar Ejercicio</h2>

<div class="mainContenido">
    <form asp-action="AccionEditarEjercicio" method="post" class="formulario">

        @Html.LabelFor(model => model.IdEjercicio, htmlAttributes: new { @class = "label" })
        @Html.TextBoxFor(model => model.IdEjercicio, new { @class = "input", type = "number", @readonly = "readonly" })
        <div></div>

        @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "label" })
        @Html.TextBoxFor(model => model.Descripcion, new { @class = "input", type = "text", required = "required" })
        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "textoAdvertencia" })

        @Html.LabelFor(model => model.IdTipoMaquina, htmlAttributes: new { @class = "label" })
        <select asp-for="IdTipoMaquina" asp-items="@(new SelectList(ViewData["tiposMaquinas"] as IEnumerable<TipoMaquina>, "IdTipoMaquina", "Nombre"))" class="input" required="required">
            <option value="" disabled selected>Seleccione una opción</option>
        </select>
        @Html.ValidationMessageFor(model => model.IdTipoMaquina, "", new { @class = "textoAdvertencia" })

        <input type="submit" value="Guardar cambios" class="boton" />
    </form>
</div>