@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Rutina;

<h2 class="mainTitulo">Ejercicio de la rutina  @Model.IdRutina</h2>
<div class="mainContenido">
@Html.ActionLink("Agregar Ejercicio", "RegistrarRutinaEjercicio", "GestionarRutinaEjercicio", new { idRutina = Model.IdRutina }, new { @class = "link" })

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Descripción</th>
            <th>Tipo de máquina</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Ejercicio ejercicio in Model.ListaEjercicios)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => ejercicio.IdEjercicio)</td>
                <td>@Html.DisplayFor(modelItem => ejercicio.Descripcion)</td>
                <td>@Html.DisplayFor(modelItem => ejercicio.TipoMaquina.Nombre)</td>
                <td>
                    @Html.ActionLink("Eliminar", "EliminarRutinaEjercicio", "GestionarRutinaEjercicio", new { idEjercicio = ejercicio.IdEjercicio, idRutina = Model.IdRutina }, new { @class = "link" })
                </td>
            </tr>
        }
    </tbody>
</table>
</div>