@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model gestorDeGimnasios.Models.Ejercicio


<form asp-action="AccionRegistrarEjercicio" method="post">

    <div class="form-group">
        @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Descripcion, new { @class = "form-control", type = "text" })
        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <select name="IdTipoMaquina">
            @foreach (TipoMaquina tipoMaquina in (IEnumerable<TipoMaquina>)@ViewData["tiposMaquinas"])
            {
                <option value="@tipoMaquina.IdTipoMaquina">@tipoMaquina.Nombre</option>
            }
        </select>
        @Html.ValidationMessageFor(model => model.IdTipoMaquina, "", new { @class = "text-danger" })
    </div>

    <input type="submit" value="Guardar registro" class="btn btn-primary" />

</form>
