@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model gestorDeGimnasios.Models.Maquina


<form asp-action="AccionEditarMaquina" method="post">
    <div class="form-group">
        @Html.LabelFor(model => model.IdMaquina, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.IdMaquina, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>


    <div class="form-group">
    @Html.LabelFor(model => model.IdTipoMaquina, htmlAttributes: new { @class = "control-label" })
    @Html.EditorFor(model => model.IdTipoMaquina, new { htmlAttributes = new { @class = "form-control", type = "number" } })
    @Html.ValidationMessageFor(model => model.IdTipoMaquina, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
    @Html.LabelFor(model => model.IdLocal, htmlAttributes: new { @class = "control-label" })
    @Html.EditorFor(model => model.IdLocal, new { htmlAttributes = new { @class = "form-control", type = "number" } })
    @Html.ValidationMessageFor(model => model.IdLocal, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
    @Html.LabelFor(model => model.FechaCompra, htmlAttributes: new { @class = "control-label", type = "date" })
    @Html.EditorFor(model => model.FechaCompra, new { htmlAttributes = new { @class = "form-control"} })
    @Html.ValidationMessageFor(model => model.FechaCompra, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
    @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "control-label" })
    @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control", type = "number", min = "10", step = "0.01" } })
    @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
    </div>
                    
    <div class="form-group">
    @Html.LabelFor(model => model.VidaUtil, htmlAttributes: new { @class = "control-label" })
    @Html.TextBoxFor(model => model.VidaUtil, new { @class = "form-control", type = "number", max = "10" })
    @Html.ValidationMessageFor(model => model.VidaUtil, "", new { @class = "text-danger" })
    </div>
                        
    <div class="form-group">
    @Html.LabelFor(model => model.Disponibilidad, htmlAttributes: new { @class = "control-label" })
        <select asp-for="Disponibilidad" class="form-control">
            <option value="" disabled selected>Seleccione un disponibilidad</option>
            <option value="no disponible">No disponible</option>
            <option value="en reparacion">En reparacion</option>
            <option value="disponible">Disponible</option>
    </select>
    @Html.ValidationMessageFor(model => model.Disponibilidad, "", new { @class = "text-danger" })
    </div>

    <input type="submit" value="Guardar" class="btn btn-primary" />
</form>