@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<h2>
    Administrar Máquinas
</h2>
<form asp-action="AccionFiltrarPorLocal" method="post">
    <div class="form-group">
        <label>ID local</label>
        <input name="IdLocal"  />
    </div>
    <button type="submit" class="btn btn-primary">Filtrar</button>
</form>

<form asp-action="AccionOrdenarPorFecha" method="post">
    <label>Ordenar por fecha</label>
        <select name="opcion">
             <option value="Desc">Descendente</option>
             <option value="Asc">Ascendente</option>
        </select>
    <button type="submit" class="btn btn-primary">Ordenar</button>
</form>


@Html.ActionLink("Registrar", "RegistrarMaquina")
<h2>@ViewData["TituloLista"]</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Id tipo de maquina</th>
            <th>Id Local</th>
            <th>Fecha compra</th>
            <th>Vida útil</th>
            <th>Precio</th>
            <th>Disponibilidad</th>
        </tr>

    </thead>
    <tbody>
        @foreach (Maquina maquina in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => maquina.IdMaquina)</td>
                <td>@Html.DisplayFor(modelItem => maquina.IdTipoMaquina)</td>
                <td>@Html.DisplayFor(modelItem => maquina.IdLocal)</td>
                <td>@Html.DisplayFor(modelItem => maquina.FechaCompra)</td>
                <td>@Html.DisplayFor(modelItem => maquina.VidaUtil)</td>
                <td>@Html.DisplayFor(modelItem => maquina.Precio)</td>
                <td>@Html.DisplayFor(modelItem => maquina.Disponibilidad)</td>
                <td>
                    @Html.ActionLink("Editar", "EditarMaquina", new { idMaquina = maquina.IdMaquina }) 
                    @Html.ActionLink("Eliminar", "EliminarMaquina", new { idMaquina = maquina.IdMaquina })

                    <form asp-action="CalcularVidaUtil" method="post" style="display:inline;">
                        <input type="hidden" name="idMaquina" value="@maquina.IdMaquina" />
                        <button type="submit" class="btn btn-info">Calcular Vida Útil</button>
                    </form>
                    <div>
                        @if (ViewData.ContainsKey("VidaUtilRestante_" + maquina.IdMaquina))
                        {
                            <span>Vida útil restante: @ViewData["VidaUtilRestante_" + maquina.IdMaquina]</span>
                        }
                        @if (ViewData.ContainsKey("Error_" + maquina.IdMaquina))
                        {
                            <span style="color:red;">Error: @ViewData["Error_" + maquina.IdMaquina]</span>
                        }
                    </div>
            </tr>
        }

    </tbody>
</table>
