@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model gestorDeGimnasios.Models.Socio


<h1> Lista rutinas del socio @Model.Nombre</h1>
@Html.ActionLink("Registrar", "RegistrarSocioRutina")

<table>
    <thead>
        <tr>
            <th>id rutina</th>
            <th>Descripción rutina</th>
            <th>Tipo rutina </th>
            <th>Calificación promedio rutina </th>
            <th>Fecha inicio socio rutina </th>
            <th>Fecha fin socio rutina </th>
            <th>Calificacion  socio rutina </th>
        </tr>

    </thead>
    <tbody>
        @foreach (SocioRutina socioRutina in Model.ListaSocioRutinas)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => socioRutina.Rutina.IdRutina)</td>
                <td>@Html.DisplayFor(modelItem => socioRutina.Rutina.Descripcion)</td>
                <td>@Html.DisplayFor(modelItem => socioRutina.Rutina.TipoRutina)</td>
                <td>@Html.DisplayFor(modelItem => socioRutina.Rutina.CalificacionRutinaPromedio)</td>
                <td>@Html.DisplayFor(modelItem => socioRutina.FechaInicio)</td>
                <td>@Html.DisplayFor(modelItem => socioRutina.FechaFin)</td>
                <td>@Html.DisplayFor(modelItem => socioRutina.Calificacion)</td>
                <td>
                    @Html.ActionLink("Editar", "EditarSocioRutina", new { idRutina = socioRutina.IdRutina, idSocio=socioRutina.IdSocio})
                    @Html.ActionLink("Eliminar", "EliminarSocioRutina", new { idRutina = socioRutina.IdRutina,idSocio = socioRutina.IdSocio })
                </td>
            </tr>
        }
    </tbody>

</table>