@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model gestorDeGimnasios.Models.Socio


<h2 class="mainTitulo"> Lista rutinas @Model.Nombre @Model.Apellido.</h2>
<div class="mainContenido">


    @Html.ActionLink("Agregar rutina", "RegistrarSocioRutina", new{idSocio = Model.IdSocio}, new { @class = "link h3" })

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Descripción</th>
            <th>Tipo</th>
            <th>Calificación promedio</th>
            <th>Fecha inicio</th>
            <th>Fecha fin</th>
            <th>Calificación</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (SocioRutina socioRutina in Model.ListaSocioRutinas)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => socioRutina.Rutina.IdRutina)</td>
                <td>@Html.DisplayFor(modelItem => socioRutina.Rutina.Descripcion)</td>
                <td>@Html.DisplayFor(modelItem => socioRutina.Rutina.TipoRutina)</td>
                <td>@Html.DisplayFor(modelItem => socioRutina.Rutina.CalificacionRutinaPromedio)</td>
                <td>@Html.DisplayFor(modelItem => socioRutina.FechaInicio)</td>
                <td>@Html.DisplayFor(modelItem => socioRutina.FechaFin)</td>
                <td>@Html.DisplayFor(modelItem => socioRutina.Calificacion)</td>
                <td>
                    @Html.ActionLink("Editar", "EditarSocioRutina", new { idRutina = socioRutina.IdRutina, idSocio = socioRutina.IdSocio }, new { @class = "link" })
                    @Html.ActionLink("Eliminar", "EliminarSocioRutina", new { idRutina = socioRutina.IdRutina, idSocio = socioRutina.IdSocio }, new { @class = "link" })
                </td>
            </tr>
        }
    </tbody>
</table>

</div>