@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model gestorDeGimnasios.Models.SocioRutina

@{Socio socio = (Socio)ViewData["socio"];}

<h2 class="mainTitulo">Agregar Rutinas al Socio. @socio.Nombre</h2>
<div class="mainContenido">


    <form asp-action="AccionRegistrarSocioRutina" method="post" class="formulario">


        <label for="IdSocio" class="label">Seleccione socio:</label>
        @Html.TextBoxFor(model => model.IdSocio, new { @class = "input", type = "text", @readonly = "readonly", value = socio.IdSocio})
        @Html.ValidationMessageFor(model => model.IdSocio, "", new { @class = "textoAdvertencia" })



        <label for="IdRutina" class="label">Seleccione rutina:</label>
        <select name="IdRutina" id="IdRutina" class="input" required="required">
            <option value="" disabled selected>Seleccione una opción</option>
            @foreach (Rutina rutina in (IEnumerable<Rutina>)@ViewData["rutinas"])
            {
                <option value="@rutina.IdRutina">@rutina.Descripcion</option>
            }
        </select>
        @Html.ValidationMessageFor(model => model.IdRutina, "", new { @class = "textoAdvertencia" })



        @Html.LabelFor(model => model.FechaInicio, htmlAttributes: new { @class = "label" })
        @Html.TextBoxFor(model => model.FechaInicio, new { @class = "input", type = "date", required = "required" })
        @Html.ValidationMessageFor(model => model.FechaInicio, "", new { @class = "textoAdvertencia" })



        @Html.LabelFor(model => model.FechaFin, htmlAttributes: new { @class = "label" })
        @Html.TextBoxFor(model => model.FechaFin, new { @class = "input", type = "date", required = "required" })
        @Html.ValidationMessageFor(model => model.FechaFin, "", new { @class = "textoAdvertencia" })



        @Html.LabelFor(model => model.Calificacion, htmlAttributes: new { @class = "label" })
        @Html.TextBoxFor(model => model.Calificacion, new { @class = "input", type = "number", required = "required" })
        @Html.ValidationMessageFor(model => model.Calificacion, "", new { @class = "textoAdvertencia" })


        <input type="submit" value="Guardar registro" class="boton" />
    </form>
</div>