@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model gestorDeGimnasios.Models.Socio

<h2 class="mainTitulo">Registrando Socio.</h2>
<div class="mainContenido">
    <form asp-action="AccionRegistrarSocio" method="post" class="formulario">

        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "label" })
        @Html.TextBoxFor(model => model.Nombre, new { @class = "input", type = "text", required = "required" })
        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "textoAdvertencia" })



        @Html.LabelFor(model => model.Apellido, htmlAttributes: new { @class = "label" })
        @Html.TextBoxFor(model => model.Apellido, new { @class = "input", type = "text", required = "required" })
        @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "textoAdvertencia" })



        @Html.LabelFor(model => model.Tipo, htmlAttributes: new { @class = "label" })
        <select asp-for="Tipo" class="input" required="required">
            <option value="" disabled selected>Seleccione una opción</option>
            <option value="premium">Premium</option>
            <option value="estandar">Estándar</option>
            <option value="básico">Básico</option>
        </select>
        @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "textoAdvertencia" })



        @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "label" })
        @Html.TextBoxFor(model => model.Telefono, new { @class = "input", type = "text", required = "required" })
        @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "textoAdvertencia" })



        @Html.LabelFor(model => model.CorreoElectronico, htmlAttributes: new { @class = "label" })
        @Html.TextBoxFor(model => model.CorreoElectronico, new { @class = "input", type = "text", required = "required" })
        @Html.ValidationMessageFor(model => model.CorreoElectronico, "", new { @class = "textoAdvertencia" })



        <label for="IdLocal" class="label">Local</label>
        <select name="IdLocal" id="IdLocal" class="input" required="required">
            @foreach (Local local in (IEnumerable<Local>)ViewData["locales"])
            {
                <option value="@local.IdLocal">@local.Nombre</option>
            }
        </select>
        @Html.ValidationMessageFor(model => model.IdLocal, "", new { @class = "textoAdvertencia" })


        <input type="submit" value="Guardar registro" class="boton" />
    </form>
</div>

